<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>0x1F600</string>
	<string>0x1F601</string>
	<string>0x1F602</string>
	<string>0x1F923</string>
	<string>0x1F603</string>
	<string>0x1F604</string>
	<string>0x1F605</string>
	<string>0x1F606</string>
	<string>0x1F609</string>
	<string>0x1F60A</string>
	<string>0x1F60B</string>
	<string>0x1F60E</string>
	<string>0x1F60D</string>
	<string>0x1F618</string>
	<string>0x1F617</string>
	<string>0x1F619</string>
	<string>0x1F61A</string>
	<string>0x263A</string>
	<string>0x1F642</string>
	<string>0x1F917</string>
	<string>0x1F607</string>
	<string>0x1F920</string>
	<string>0x1F921</string>
	<string>0x1F925</string>
	<string>0x1F913</string>
	<string>0x1F914</string>
	<string>0x1F610</string>
	<string>0x1F611</string>
	<string>0x1F636</string>
	<string>0x1F644</string>
	<string>0x1F60F</string>
	<string>0x1F623</string>
	<string>0x1F625</string>
	<string>0x1F62E</string>
	<string>0x1F910</string>
	<string>0x1F62F</string>
	<string>0x1F62A</string>
	<string>0x1F62B</string>
	<string>0x1F634</string>
	<string>0x1F60C</string>
	<string>0x1F61B</string>
	<string>0x1F61C</string>
	<string>0x1F61D</string>
	<string>0x1F924</string>
	<string>0x1F612</string>
	<string>0x1F613</string>
	<string>0x1F614</string>
	<string>0x1F615</string>
	<string>0x1F643</string>
	<string>0x1F911</string>
	<string>0x1F632</string>
	<string>0x1F637</string>
	<string>0x1F912</string>
	<string>0x1F915</string>
	<string>0x1F922</string>
	<string>0x1F927</string>
	<string>0x2639</string>
	<string>0x1F641</string>
	<string>0x1F616</string>
	<string>0x1F61E</string>
	<string>0x1F61F</string>
	<string>0x1F624</string>
	<string>0x1F622</string>
	<string>0x1F62D</string>
	<string>0x1F626</string>
	<string>0x1F627</string>
	<string>0x1F628</string>
	<string>0x1F629</string>
	<string>0x1F62C</string>
	<string>0x1F630</string>
	<string>0x1F631</string>
	<string>0x1F633</string>
	<string>0x1F635</string>
	<string>0x1F621</string>
	<string>0x1F620</string>
	<string>0x1F608</string>
	<string>0x1F47F</string>
	<string>0x1F479</string>
	<string>0x1F47A</string>
	<string>0x1F480</string>
	<string>0x2620</string>
	<string>0x1F47B</string>
	<string>0x1F47D</string>
	<string>0x1F47E</string>
	<string>0x1F916</string>
	<string>0x1F4A9</string>
	<string>0x1F63A</string>
	<string>0x1F638</string>
	<string>0x1F639</string>
	<string>0x1F63B</string>
	<string>0x1F63C</string>
	<string>0x1F63D</string>
	<string>0x1F640</string>
	<string>0x1F63F</string>
	<string>0x1F63E</string>
	<string>0x1F648</string>
	<string>0x1F649</string>
	<string>0x1F64A</string>
	<string>0x1F466</string>
	<string>0x1F3FB</string>
	<string>0x1F3FC</string>
	<string>0x1F3FD</string>
	<string>0x1F3FE</string>
	<string>0x1F3FF</string>
	<string>0x1F467</string>
	<string>0x1F468</string>
	<string>0x1F469</string>
	<string>0x1F474</string>
	<string>0x1F475</string>
	<string>0x1F476</string>
	<string>0x1F471</string>
	<string>0x1F46E</string>
	<string>0x1F472</string>
	<string>0x1F473</string>
	<string>0x1F477</string>
	<string>0x26D1</string>
	<string>0x1F478</string>
	<string>0x1F934</string>
	<string>0x1F482</string>
	<string>0x1F575</string>
	<string>0x1F385</string>
	<string>0x1F936</string>
	<string>0x1F470</string>
	<string>0x1F935</string>
	<string>0x1F47C</string>
	<string>0x1F486</string>
	<string>0x1F487</string>
	<string>0x1F64D</string>
	<string>0x1F64E</string>
	<string>0x1F645</string>
	<string>0x1F646</string>
	<string>0x1F481</string>
	<string>0x1F937</string>
	<string>0x1F64B</string>
	<string>0x1F926</string>
	<string>0x1F647</string>
	<string>0x1F64C</string>
	<string>0x1F64F</string>
	<string>0x1F5E3</string>
	<string>0x1F464</string>
	<string>0x1F465</string>
	<string>0x1F930</string>
	<string>0x1F6B6</string>
	<string>0x1F3C3</string>
	<string>0x1F46F</string>
	<string>0x1F483</string>
	<string>0x1F57A</string>
	<string>0x1F574</string>
	<string>0x1F46B</string>
	<string>0x1F46C</string>
	<string>0x1F46D</string>
	<string>0x1F48F</string>
	<string>0x200D</string>
	<string>0x2764</string>
	<string>0xFE0F</string>
	<string>0x1F48B</string>
	<string>0x1F491</string>
	<string>0x1F46A</string>
	<string>0x1F4AA</string>
	<string>0x1F933</string>
	<string>0x1F448</string>
	<string>0x1F449</string>
	<string>0x261D</string>
	<string>0x1F446</string>
	<string>0x1F595</string>
	<string>0x1F447</string>
	<string>0x270C</string>
	<string>0x1F91E</string>
	<string>0x1F596</string>
	<string>0x1F918</string>
	<string>0x1F919</string>
	<string>0x1F590</string>
	<string>0x270B</string>
	<string>0x1F44C</string>
	<string>0x1F44D</string>
	<string>0x1F44E</string>
	<string>0x270A</string>
	<string>0x1F44A</string>
	<string>0x1F91B</string>
	<string>0x1F91C</string>
	<string>0x1F91A</string>
	<string>0x1F44B</string>
	<string>0x1F44F</string>
	<string>0x1F450</string>
	<string>0x270D</string>
	<string>0x1F91D</string>
	<string>0x1F485</string>
	<string>0x1F442</string>
	<string>0x1F443</string>
	<string>0x1F463</string>
	<string>0x1F440</string>
	<string>0x1F441</string>
	<string>0x1F5E8</string>
	<string>0x1F445</string>
	<string>0x1F444</string>
	<string>0x1F498</string>
	<string>0x1F493</string>
	<string>0x1F494</string>
	<string>0x1F495</string>
	<string>0x1F496</string>
	<string>0x1F497</string>
	<string>0x1F499</string>
	<string>0x1F49A</string>
	<string>0x1F49B</string>
	<string>0x1F49C</string>
	<string>0x1F5A4</string>
	<string>0x1F49D</string>
	<string>0x1F49E</string>
	<string>0x1F49F</string>
	<string>0x2763</string>
	<string>0x1F48C</string>
	<string>0x1F4A4</string>
	<string>0x1F4A2</string>
	<string>0x1F4A3</string>
	<string>0x1F4A5</string>
	<string>0x1F4A6</string>
	<string>0x1F4A8</string>
	<string>0x1F4AB</string>
	<string>0x1F4AC</string>
	<string>0x1F5EF</string>
	<string>0x1F4AD</string>
	<string>0x1F573</string>
	<string>0x1F453</string>
	<string>0x1F576</string>
	<string>0x1F454</string>
	<string>0x1F455</string>
	<string>0x1F456</string>
	<string>0x1F457</string>
	<string>0x1F458</string>
	<string>0x1F459</string>
	<string>0x1F45A</string>
	<string>0x1F45B</string>
	<string>0x1F45C</string>
	<string>0x1F45D</string>
	<string>0x1F6CD</string>
	<string>0x1F392</string>
	<string>0x1F45E</string>
	<string>0x1F45F</string>
	<string>0x1F460</string>
	<string>0x1F461</string>
	<string>0x1F462</string>
	<string>0x1F451</string>
	<string>0x1F452</string>
	<string>0x1F3A9</string>
	<string>0x1F393</string>
	<string>0x1F4FF</string>
	<string>0x1F484</string>
	<string>0x1F48D</string>
	<string>0x1F48E</string>
	<string>0x1F435</string>
	<string>0x1F412</string>
	<string>0x1F98D</string>
	<string>0x1F436</string>
	<string>0x1F415</string>
	<string>0x1F429</string>
	<string>0x1F43A</string>
	<string>0x1F98A</string>
	<string>0x1F431</string>
	<string>0x1F408</string>
	<string>0x1F981</string>
	<string>0x1F42F</string>
	<string>0x1F405</string>
	<string>0x1F406</string>
	<string>0x1F434</string>
	<string>0x1F40E</string>
	<string>0x1F98C</string>
	<string>0x1F984</string>
	<string>0x1F42E</string>
	<string>0x1F402</string>
	<string>0x1F403</string>
	<string>0x1F404</string>
	<string>0x1F437</string>
	<string>0x1F416</string>
	<string>0x1F417</string>
	<string>0x1F43D</string>
	<string>0x1F40F</string>
	<string>0x1F411</string>
	<string>0x1F410</string>
	<string>0x1F42A</string>
	<string>0x1F42B</string>
	<string>0x1F418</string>
	<string>0x1F98F</string>
	<string>0x1F42D</string>
	<string>0x1F401</string>
	<string>0x1F400</string>
	<string>0x1F439</string>
	<string>0x1F430</string>
	<string>0x1F407</string>
	<string>0x1F43F</string>
	<string>0x1F987</string>
	<string>0x1F43B</string>
	<string>0x1F428</string>
	<string>0x1F43C</string>
	<string>0x1F43E</string>
	<string>0x1F983</string>
	<string>0x1F414</string>
	<string>0x1F413</string>
	<string>0x1F423</string>
	<string>0x1F424</string>
	<string>0x1F425</string>
	<string>0x1F426</string>
	<string>0x1F427</string>
	<string>0x1F54A</string>
	<string>0x1F985</string>
	<string>0x1F986</string>
	<string>0x1F989</string>
	<string>0x1F438</string>
	<string>0x1F40A</string>
	<string>0x1F422</string>
	<string>0x1F98E</string>
	<string>0x1F40D</string>
	<string>0x1F432</string>
	<string>0x1F409</string>
	<string>0x1F433</string>
	<string>0x1F40B</string>
	<string>0x1F42C</string>
	<string>0x1F41F</string>
	<string>0x1F420</string>
	<string>0x1F421</string>
	<string>0x1F988</string>
	<string>0x1F419</string>
	<string>0x1F41A</string>
	<string>0x1F980</string>
	<string>0x1F990</string>
	<string>0x1F991</string>
	<string>0x1F98B</string>
	<string>0x1F40C</string>
	<string>0x1F41B</string>
	<string>0x1F41C</string>
	<string>0x1F41D</string>
	<string>0x1F41E</string>
	<string>0x1F577</string>
	<string>0x1F578</string>
	<string>0x1F982</string>
	<string>0x1F490</string>
	<string>0x1F338</string>
	<string>0x1F4AE</string>
	<string>0x1F3F5</string>
	<string>0x1F339</string>
	<string>0x1F940</string>
	<string>0x1F33A</string>
	<string>0x1F33B</string>
	<string>0x1F33C</string>
	<string>0x1F337</string>
	<string>0x1F331</string>
	<string>0x1F332</string>
	<string>0x1F333</string>
	<string>0x1F334</string>
	<string>0x1F335</string>
	<string>0x1F33E</string>
	<string>0x1F33F</string>
	<string>0x2618</string>
	<string>0x1F340</string>
	<string>0x1F341</string>
	<string>0x1F342</string>
	<string>0x1F343</string>
	<string>0x1F347</string>
	<string>0x1F348</string>
	<string>0x1F349</string>
	<string>0x1F34A</string>
	<string>0x1F34B</string>
	<string>0x1F34C</string>
	<string>0x1F34D</string>
	<string>0x1F34E</string>
	<string>0x1F34F</string>
	<string>0x1F350</string>
	<string>0x1F351</string>
	<string>0x1F352</string>
	<string>0x1F353</string>
	<string>0x1F345</string>
	<string>0x1F95D</string>
	<string>0x1F951</string>
	<string>0x1F346</string>
	<string>0x1F954</string>
	<string>0x1F955</string>
	<string>0x1F33D</string>
	<string>0x1F336</string>
	<string>0x1F952</string>
	<string>0x1F344</string>
	<string>0x1F95C</string>
	<string>0x1F330</string>
	<string>0x1F35E</string>
	<string>0x1F950</string>
	<string>0x1F956</string>
	<string>0x1F95E</string>
	<string>0x1F9C0</string>
	<string>0x1F356</string>
	<string>0x1F357</string>
	<string>0x1F953</string>
	<string>0x1F354</string>
	<string>0x1F35F</string>
	<string>0x1F355</string>
	<string>0x1F32D</string>
	<string>0x1F32E</string>
	<string>0x1F32F</string>
	<string>0x1F959</string>
	<string>0x1F95A</string>
	<string>0x1F373</string>
	<string>0x1F958</string>
	<string>0x1F372</string>
	<string>0x1F957</string>
	<string>0x1F37F</string>
	<string>0x1F371</string>
	<string>0x1F358</string>
	<string>0x1F359</string>
	<string>0x1F35A</string>
	<string>0x1F35B</string>
	<string>0x1F35C</string>
	<string>0x1F35D</string>
	<string>0x1F360</string>
	<string>0x1F362</string>
	<string>0x1F363</string>
	<string>0x1F364</string>
	<string>0x1F365</string>
	<string>0x1F361</string>
	<string>0x1F366</string>
	<string>0x1F367</string>
	<string>0x1F368</string>
	<string>0x1F369</string>
	<string>0x1F36A</string>
	<string>0x1F382</string>
	<string>0x1F370</string>
	<string>0x1F36B</string>
	<string>0x1F36C</string>
	<string>0x1F36D</string>
	<string>0x1F36E</string>
	<string>0x1F36F</string>
	<string>0x1F37C</string>
	<string>0x1F95B</string>
	<string>0x2615</string>
	<string>0x1F375</string>
	<string>0x1F376</string>
	<string>0x1F37E</string>
	<string>0x1F377</string>
	<string>0x1F378</string>
	<string>0x1F379</string>
	<string>0x1F37A</string>
	<string>0x1F37B</string>
	<string>0x1F942</string>
	<string>0x1F943</string>
	<string>0x1F37D</string>
	<string>0x1F374</string>
	<string>0x1F944</string>
	<string>0x1F52A</string>
	<string>0x1F3FA</string>
	<string>0x1F30D</string>
	<string>0x1F30E</string>
	<string>0x1F30F</string>
	<string>0x1F310</string>
	<string>0x1F5FA</string>
	<string>0x1F5FE</string>
	<string>0x1F3D4</string>
	<string>0x26F0</string>
	<string>0x1F30B</string>
	<string>0x1F5FB</string>
	<string>0x1F3D5</string>
	<string>0x1F3D6</string>
	<string>0x1F3DC</string>
	<string>0x1F3DD</string>
	<string>0x1F3DE</string>
	<string>0x1F3DF</string>
	<string>0x1F3DB</string>
	<string>0x1F3D7</string>
	<string>0x1F3D8</string>
	<string>0x1F3D9</string>
	<string>0x1F3DA</string>
	<string>0x1F3E0</string>
	<string>0x1F3E1</string>
	<string>0x1F3E2</string>
	<string>0x1F3E3</string>
	<string>0x1F3E4</string>
	<string>0x1F3E5</string>
	<string>0x1F3E6</string>
	<string>0x1F3E8</string>
	<string>0x1F3E9</string>
	<string>0x1F3EA</string>
	<string>0x1F3EB</string>
	<string>0x1F3EC</string>
	<string>0x1F3ED</string>
	<string>0x1F3EF</string>
	<string>0x1F3F0</string>
	<string>0x1F492</string>
	<string>0x1F5FC</string>
	<string>0x1F5FD</string>
	<string>0x26EA</string>
	<string>0x1F54C</string>
	<string>0x1F54D</string>
	<string>0x26E9</string>
	<string>0x1F54B</string>
	<string>0x26F2</string>
	<string>0x26FA</string>
	<string>0x1F301</string>
	<string>0x1F303</string>
	<string>0x1F304</string>
	<string>0x1F305</string>
	<string>0x1F306</string>
	<string>0x1F307</string>
	<string>0x1F309</string>
	<string>0x2668</string>
	<string>0x1F30C</string>
	<string>0x1F3A0</string>
	<string>0x1F3A1</string>
	<string>0x1F3A2</string>
	<string>0x1F488</string>
	<string>0x1F3AA</string>
	<string>0x1F3AD</string>
	<string>0x1F5BC</string>
	<string>0x1F3A8</string>
	<string>0x1F3B0</string>
	<string>0x1F682</string>
	<string>0x1F683</string>
	<string>0x1F684</string>
	<string>0x1F685</string>
	<string>0x1F686</string>
	<string>0x1F687</string>
	<string>0x1F688</string>
	<string>0x1F689</string>
	<string>0x1F68A</string>
	<string>0x1F69D</string>
	<string>0x1F69E</string>
	<string>0x1F68B</string>
	<string>0x1F68C</string>
	<string>0x1F68D</string>
	<string>0x1F68E</string>
	<string>0x1F68F</string>
	<string>0x1F690</string>
	<string>0x1F691</string>
	<string>0x1F692</string>
	<string>0x1F693</string>
	<string>0x1F694</string>
	<string>0x1F695</string>
	<string>0x1F696</string>
	<string>0x1F697</string>
	<string>0x1F698</string>
	<string>0x1F699</string>
	<string>0x1F69A</string>
	<string>0x1F69B</string>
	<string>0x1F69C</string>
	<string>0x1F6B2</string>
	<string>0x26FD</string>
	<string>0x1F6E3</string>
	<string>0x1F6E4</string>
	<string>0x1F6A8</string>
	<string>0x1F6A5</string>
	<string>0x1F6A6</string>
	<string>0x1F6A7</string>
	<string>0x1F6D1</string>
	<string>0x1F6F4</string>
	<string>0x1F6F5</string>
	<string>0x2693</string>
	<string>0x26F5</string>
	<string>0x1F6A3</string>
	<string>0x1F6F6</string>
	<string>0x1F6A4</string>
	<string>0x1F6F3</string>
	<string>0x26F4</string>
	<string>0x1F6E5</string>
	<string>0x1F6A2</string>
	<string>0x2708</string>
	<string>0x1F6E9</string>
	<string>0x1F6EB</string>
	<string>0x1F6EC</string>
	<string>0x1F4BA</string>
	<string>0x1F681</string>
	<string>0x1F69F</string>
	<string>0x1F6A0</string>
	<string>0x1F6A1</string>
	<string>0x1F680</string>
	<string>0x1F6F0</string>
	<string>0x1F6CE</string>
	<string>0x1F6AA</string>
	<string>0x1F6CC</string>
	<string>0x1F6CF</string>
	<string>0x1F6CB</string>
	<string>0x1F6BD</string>
	<string>0x1F6BF</string>
	<string>0x1F6C0</string>
	<string>0x1F6C1</string>
	<string>0x231B</string>
	<string>0x23F3</string>
	<string>0x231A</string>
	<string>0x23F0</string>
	<string>0x23F1</string>
	<string>0x23F2</string>
	<string>0x1F570</string>
	<string>0x1F55B</string>
	<string>0x1F567</string>
	<string>0x1F550</string>
	<string>0x1F55C</string>
	<string>0x1F551</string>
	<string>0x1F55D</string>
	<string>0x1F552</string>
	<string>0x1F55E</string>
	<string>0x1F553</string>
	<string>0x1F55F</string>
	<string>0x1F554</string>
	<string>0x1F560</string>
	<string>0x1F555</string>
	<string>0x1F561</string>
	<string>0x1F556</string>
	<string>0x1F562</string>
	<string>0x1F557</string>
	<string>0x1F563</string>
	<string>0x1F558</string>
	<string>0x1F564</string>
	<string>0x1F559</string>
	<string>0x1F565</string>
	<string>0x1F55A</string>
	<string>0x1F566</string>
	<string>0x1F311</string>
	<string>0x1F312</string>
	<string>0x1F313</string>
	<string>0x1F314</string>
	<string>0x1F315</string>
	<string>0x1F316</string>
	<string>0x1F317</string>
	<string>0x1F318</string>
	<string>0x1F319</string>
	<string>0x1F31A</string>
	<string>0x1F31B</string>
	<string>0x1F31C</string>
	<string>0x1F321</string>
	<string>0x2600</string>
	<string>0x1F31D</string>
	<string>0x1F31E</string>
	<string>0x2B50</string>
	<string>0x1F31F</string>
	<string>0x1F320</string>
	<string>0x2601</string>
	<string>0x26C5</string>
	<string>0x26C8</string>
	<string>0x1F324</string>
	<string>0x1F325</string>
	<string>0x1F326</string>
	<string>0x1F327</string>
	<string>0x1F328</string>
	<string>0x1F329</string>
	<string>0x1F32A</string>
	<string>0x1F32B</string>
	<string>0x1F32C</string>
	<string>0x1F300</string>
	<string>0x1F308</string>
	<string>0x1F302</string>
	<string>0x2602</string>
	<string>0x2614</string>
	<string>0x26F1</string>
	<string>0x26A1</string>
	<string>0x2744</string>
	<string>0x2603</string>
	<string>0x26C4</string>
	<string>0x2604</string>
	<string>0x1F525</string>
	<string>0x1F4A7</string>
	<string>0x1F30A</string>
	<string>0x1F383</string>
	<string>0x1F384</string>
	<string>0x1F386</string>
	<string>0x1F387</string>
	<string>0x2728</string>
	<string>0x1F388</string>
	<string>0x1F389</string>
	<string>0x1F38A</string>
	<string>0x1F38B</string>
	<string>0x1F38D</string>
	<string>0x1F38E</string>
	<string>0x1F38F</string>
	<string>0x1F390</string>
	<string>0x1F391</string>
	<string>0x1F380</string>
	<string>0x1F381</string>
	<string>0x1F397</string>
	<string>0x1F39F</string>
	<string>0x1F3AB</string>
	<string>0x1F396</string>
	<string>0x1F3C6</string>
	<string>0x1F3C5</string>
	<string>0x1F947</string>
	<string>0x1F948</string>
	<string>0x1F949</string>
	<string>0x26BD</string>
	<string>0x26BE</string>
	<string>0x1F3C0</string>
	<string>0x1F3D0</string>
	<string>0x1F3C8</string>
	<string>0x1F3C9</string>
	<string>0x1F3BE</string>
	<string>0x1F3B1</string>
	<string>0x1F3B3</string>
	<string>0x1F3CF</string>
	<string>0x1F3D1</string>
	<string>0x1F3D2</string>
	<string>0x1F3D3</string>
	<string>0x1F3F8</string>
	<string>0x1F94A</string>
	<string>0x1F94B</string>
	<string>0x26F3</string>
	<string>0x1F3CC</string>
	<string>0x26F8</string>
	<string>0x1F3A3</string>
	<string>0x1F3BD</string>
	<string>0x1F3BF</string>
	<string>0x26F7</string>
	<string>0x1F3C2</string>
	<string>0x1F3C4</string>
	<string>0x1F3C7</string>
	<string>0x1F3CA</string>
	<string>0x26F9</string>
	<string>0x1F3CB</string>
	<string>0x1F6B4</string>
	<string>0x1F6B5</string>
	<string>0x1F3CE</string>
	<string>0x1F3CD</string>
	<string>0x1F938</string>
	<string>0x1F93B</string>
	<string>0x1F93C</string>
	<string>0x1F93D</string>
	<string>0x1F93E</string>
	<string>0x1F93A</string>
	<string>0x1F945</string>
	<string>0x1F939</string>
	<string>0x1F3AF</string>
	<string>0x1F3AE</string>
	<string>0x1F579</string>
	<string>0x1F3B2</string>
	<string>0x2660</string>
	<string>0x2665</string>
	<string>0x2666</string>
	<string>0x2663</string>
	<string>0x1F0CF</string>
	<string>0x1F004</string>
	<string>0x1F3B4</string>
	<string>0x1F507</string>
	<string>0x1F508</string>
	<string>0x1F509</string>
	<string>0x1F50A</string>
	<string>0x1F4E2</string>
	<string>0x1F4E3</string>
	<string>0x1F4EF</string>
	<string>0x1F514</string>
	<string>0x1F515</string>
	<string>0x1F3BC</string>
	<string>0x1F3B5</string>
	<string>0x1F3B6</string>
	<string>0x1F399</string>
	<string>0x1F39A</string>
	<string>0x1F39B</string>
	<string>0x1F3A4</string>
	<string>0x1F3A7</string>
	<string>0x1F4FB</string>
	<string>0x1F3B7</string>
	<string>0x1F3B8</string>
	<string>0x1F3B9</string>
	<string>0x1F3BA</string>
	<string>0x1F3BB</string>
	<string>0x1F941</string>
	<string>0x1F4F1</string>
	<string>0x1F4F2</string>
	<string>0x260E</string>
	<string>0x1F4DE</string>
	<string>0x1F4DF</string>
	<string>0x1F4E0</string>
	<string>0x1F50B</string>
	<string>0x1F50C</string>
	<string>0x1F4BB</string>
	<string>0x1F5A5</string>
	<string>0x1F5A8</string>
	<string>0x2328</string>
	<string>0x1F5B1</string>
	<string>0x1F5B2</string>
	<string>0x1F4BD</string>
	<string>0x1F4BE</string>
	<string>0x1F4BF</string>
	<string>0x1F4C0</string>
	<string>0x1F3A5</string>
	<string>0x1F39E</string>
	<string>0x1F4FD</string>
	<string>0x1F3AC</string>
	<string>0x1F4FA</string>
	<string>0x1F4F7</string>
	<string>0x1F4F8</string>
	<string>0x1F4F9</string>
	<string>0x1F4FC</string>
	<string>0x1F50D</string>
	<string>0x1F50E</string>
	<string>0x1F52C</string>
	<string>0x1F52D</string>
	<string>0x1F4E1</string>
	<string>0x1F56F</string>
	<string>0x1F4A1</string>
	<string>0x1F526</string>
	<string>0x1F3EE</string>
	<string>0x1F4D4</string>
	<string>0x1F4D5</string>
	<string>0x1F4D6</string>
	<string>0x1F4D7</string>
	<string>0x1F4D8</string>
	<string>0x1F4D9</string>
	<string>0x1F4DA</string>
	<string>0x1F4D3</string>
	<string>0x1F4D2</string>
	<string>0x1F4C3</string>
	<string>0x1F4DC</string>
	<string>0x1F4C4</string>
	<string>0x1F4F0</string>
	<string>0x1F5DE</string>
	<string>0x1F4D1</string>
	<string>0x1F516</string>
	<string>0x1F3F7</string>
	<string>0x1F4B0</string>
	<string>0x1F4B4</string>
	<string>0x1F4B5</string>
	<string>0x1F4B6</string>
	<string>0x1F4B7</string>
	<string>0x1F4B8</string>
	<string>0x1F4B3</string>
	<string>0x1F4B9</string>
	<string>0x1F4B1</string>
	<string>0x1F4B2</string>
	<string>0x2709</string>
	<string>0x1F4E7</string>
	<string>0x1F4E8</string>
	<string>0x1F4E9</string>
	<string>0x1F4E4</string>
	<string>0x1F4E5</string>
	<string>0x1F4E6</string>
	<string>0x1F4EB</string>
	<string>0x1F4EA</string>
	<string>0x1F4EC</string>
	<string>0x1F4ED</string>
	<string>0x1F4EE</string>
	<string>0x1F5F3</string>
	<string>0x270F</string>
	<string>0x2712</string>
	<string>0x1F58B</string>
	<string>0x1F58A</string>
	<string>0x1F58C</string>
	<string>0x1F58D</string>
	<string>0x1F4DD</string>
	<string>0x1F4BC</string>
	<string>0x1F4C1</string>
	<string>0x1F4C2</string>
	<string>0x1F5C2</string>
	<string>0x1F4C5</string>
	<string>0x1F4C6</string>
	<string>0x1F5D2</string>
	<string>0x1F5D3</string>
	<string>0x1F4C7</string>
	<string>0x1F4C8</string>
	<string>0x1F4C9</string>
	<string>0x1F4CA</string>
	<string>0x1F4CB</string>
	<string>0x1F4CC</string>
	<string>0x1F4CD</string>
	<string>0x1F4CE</string>
	<string>0x1F587</string>
	<string>0x1F4CF</string>
	<string>0x1F4D0</string>
	<string>0x2702</string>
	<string>0x1F5C3</string>
	<string>0x1F5C4</string>
	<string>0x1F5D1</string>
	<string>0x1F512</string>
	<string>0x1F513</string>
	<string>0x1F50F</string>
	<string>0x1F510</string>
	<string>0x1F511</string>
	<string>0x1F5DD</string>
	<string>0x1F528</string>
	<string>0x26CF</string>
	<string>0x2692</string>
	<string>0x1F6E0</string>
	<string>0x1F5E1</string>
	<string>0x2694</string>
	<string>0x1F52B</string>
	<string>0x1F946</string>
	<string>0x1F3F9</string>
	<string>0x1F6E1</string>
	<string>0x1F527</string>
	<string>0x1F529</string>
	<string>0x2699</string>
	<string>0x1F5DC</string>
	<string>0x2697</string>
	<string>0x2696</string>
	<string>0x1F517</string>
	<string>0x26D3</string>
	<string>0x1F489</string>
	<string>0x1F48A</string>
	<string>0x1F6AC</string>
	<string>0x26B0</string>
	<string>0x26B1</string>
	<string>0x1F5FF</string>
	<string>0x1F6E2</string>
	<string>0x1F52E</string>
	<string>0x1F6D2</string>
	<string>0x1F3E7</string>
	<string>0x1F6AE</string>
	<string>0x1F6B0</string>
	<string>0x267F</string>
	<string>0x1F6B9</string>
	<string>0x1F6BA</string>
	<string>0x1F6BB</string>
	<string>0x1F6BC</string>
	<string>0x1F6BE</string>
	<string>0x1F6C2</string>
	<string>0x1F6C3</string>
	<string>0x1F6C4</string>
	<string>0x1F6C5</string>
	<string>0x26A0</string>
	<string>0x1F6B8</string>
	<string>0x26D4</string>
	<string>0x1F6AB</string>
	<string>0x1F6B3</string>
	<string>0x1F6AD</string>
	<string>0x1F6AF</string>
	<string>0x1F6B1</string>
	<string>0x1F6B7</string>
	<string>0x1F4F5</string>
	<string>0x1F51E</string>
	<string>0x2622</string>
	<string>0x2623</string>
	<string>0x2B06</string>
	<string>0x2197</string>
	<string>0x27A1</string>
	<string>0x2198</string>
	<string>0x2B07</string>
	<string>0x2199</string>
	<string>0x2B05</string>
	<string>0x2196</string>
	<string>0x2195</string>
	<string>0x2194</string>
	<string>0x21A9</string>
	<string>0x21AA</string>
	<string>0x2934</string>
	<string>0x2935</string>
	<string>0x1F503</string>
	<string>0x1F504</string>
	<string>0x1F519</string>
	<string>0x1F51A</string>
	<string>0x1F51B</string>
	<string>0x1F51C</string>
	<string>0x1F51D</string>
	<string>0x1F6D0</string>
	<string>0x269B</string>
	<string>0x1F549</string>
	<string>0x2721</string>
	<string>0x2638</string>
	<string>0x262F</string>
	<string>0x271D</string>
	<string>0x2626</string>
	<string>0x262A</string>
	<string>0x262E</string>
	<string>0x1F54E</string>
	<string>0x1F52F</string>
	<string>0x267B</string>
	<string>0x1F4DB</string>
	<string>0x269C</string>
	<string>0x1F530</string>
	<string>0x1F531</string>
	<string>0x2B55</string>
	<string>0x2705</string>
	<string>0x2611</string>
	<string>0x2714</string>
	<string>0x2716</string>
	<string>0x274C</string>
	<string>0x274E</string>
	<string>0x2795</string>
	<string>0x2796</string>
	<string>0x2797</string>
	<string>0x27B0</string>
	<string>0x27BF</string>
	<string>0x303D</string>
	<string>0x2733</string>
	<string>0x2734</string>
	<string>0x2747</string>
	<string>0x203C</string>
	<string>0x2049</string>
	<string>0x2753</string>
	<string>0x2754</string>
	<string>0x2755</string>
	<string>0x2757</string>
	<string>0x3030</string>
	<string>0xA9</string>
	<string>0xAE</string>
	<string>0x2122</string>
	<string>0x2648</string>
	<string>0x2649</string>
	<string>0x264A</string>
	<string>0x264B</string>
	<string>0x264C</string>
	<string>0x264D</string>
	<string>0x264E</string>
	<string>0x264F</string>
	<string>0x2650</string>
	<string>0x2651</string>
	<string>0x2652</string>
	<string>0x2653</string>
	<string>0x26CE</string>
	<string>0x1F500</string>
	<string>0x1F501</string>
	<string>0x1F502</string>
	<string>0x25B6</string>
	<string>0x23E9</string>
	<string>0x23ED</string>
	<string>0x23EF</string>
	<string>0x25C0</string>
	<string>0x23EA</string>
	<string>0x23EE</string>
	<string>0x1F53C</string>
	<string>0x23EB</string>
	<string>0x1F53D</string>
	<string>0x23EC</string>
	<string>0x23F8</string>
	<string>0x23F9</string>
	<string>0x23FA</string>
	<string>0x23CF</string>
	<string>0x1F3A6</string>
	<string>0x1F505</string>
	<string>0x1F506</string>
	<string>0x1F4F6</string>
	<string>0x1F4F3</string>
	<string>0x1F4F4</string>
	<string>0x23</string>
	<string>0x20E3</string>
	<string>0x2A</string>
	<string>0x1F51F</string>
	<string>0x1F4AF</string>
	<string>0x1F520</string>
	<string>0x1F521</string>
	<string>0x1F522</string>
	<string>0x1F523</string>
	<string>0x1F524</string>
	<string>0x1F170</string>
	<string>0x1F18E</string>
	<string>0x1F171</string>
	<string>0x1F191</string>
	<string>0x1F192</string>
	<string>0x1F193</string>
	<string>0x2139</string>
	<string>0x1F194</string>
	<string>0x24C2</string>
	<string>0x1F195</string>
	<string>0x1F196</string>
	<string>0x1F17E</string>
	<string>0x1F197</string>
	<string>0x1F17F</string>
	<string>0x1F198</string>
	<string>0x1F199</string>
	<string>0x1F19A</string>
	<string>0x1F201</string>
	<string>0x1F202</string>
	<string>0x1F237</string>
	<string>0x1F236</string>
	<string>0x1F22F</string>
	<string>0x1F250</string>
	<string>0x1F239</string>
	<string>0x1F21A</string>
	<string>0x1F232</string>
	<string>0x1F251</string>
	<string>0x1F238</string>
	<string>0x1F234</string>
	<string>0x1F233</string>
	<string>0x3297</string>
	<string>0x3299</string>
	<string>0x1F23A</string>
	<string>0x1F235</string>
	<string>0x25AA</string>
	<string>0x25AB</string>
	<string>0x25FB</string>
	<string>0x25FC</string>
	<string>0x25FD</string>
	<string>0x25FE</string>
	<string>0x2B1B</string>
	<string>0x2B1C</string>
	<string>0x1F536</string>
	<string>0x1F537</string>
	<string>0x1F538</string>
	<string>0x1F539</string>
	<string>0x1F53A</string>
	<string>0x1F53B</string>
	<string>0x1F4A0</string>
	<string>0x1F518</string>
	<string>0x1F532</string>
	<string>0x1F533</string>
	<string>0x26AA</string>
	<string>0x26AB</string>
	<string>0x1F534</string>
	<string>0x1F535</string>
	<string>0x1F3C1</string>
	<string>0x1F6A9</string>
	<string>0x1F38C</string>
	<string>0x1F3F4</string>
	<string>0x1F3F3</string>
	<string>0x1F1E6</string>
	<string>0x1F1E8</string>
	<string>0x1F1E9</string>
	<string>0x1F1EA</string>
	<string>0x1F1EB</string>
	<string>0x1F1EC</string>
	<string>0x1F1EE</string>
	<string>0x1F1F1</string>
	<string>0x1F1F2</string>
	<string>0x1F1F4</string>
	<string>0x1F1F6</string>
	<string>0x1F1F7</string>
	<string>0x1F1F8</string>
	<string>0x1F1F9</string>
	<string>0x1F1FA</string>
	<string>0x1F1FC</string>
	<string>0x1F1FD</string>
	<string>0x1F1FF</string>
	<string>0x1F1E7</string>
	<string>0x1F1ED</string>
	<string>0x1F1EF</string>
	<string>0x1F1F3</string>
	<string>0x1F1FB</string>
	<string>0x1F1FE</string>
	<string>0x1F1F0</string>
	<string>0x1F1F5</string>
	<string>0x2640</string>
	<string>0x2642</string>
	<string>0x2695</string>
	<string>0x1F962</string>
	<string>0x1F961</string>
	<string>0x1F95F</string>
	<string>0x1F928</string>
	<string>0x1F960</string>
	<string>0xE50A</string>
	<string>0x25EF</string>
</array>
</plist>